.header {
  padding: 20px;
  margin-bottom: 10px;
  align-items: baseline;
  font-size: 18px;
  box-shadow: 5px 5px 10px #797979;
  background-color: #141415;
}
.headerNav {
  display: flex;
  gap: 12px;
  font-weight: 500;
}
.NavLink {
  color: #212121;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #141415;
  color: #ffffff;
  border-top: 1px solid rgba(191, 190, 192, 0.5);
  box-shadow: -5px -5px 10px #797979;
}
.footerText {
  text-align: center;
  font-size: 16px;
  padding: 12px 0;
  margin: 0;
}
